version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: robosats-tools-robosats-notifier_web_1
      APP_PORT: 3000
  
  web:
    image: orangepanther21/robosats-notifier:latest
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/data:/data
      - ${APP_DATA_DIR}/auth:/app/.wwebjs_auth
    environment:
      WHATSAPP_GROUP_NAME: ""
      CHECK_INTERVAL_MINUTES: "5"
      TARGET_CURRENCIES: "USD,EUR"
      LANGUAGE: "EN"
      BOT_ENABLED: "true"
      ROBOSATS_API_URL: "http://robosats_web_1:12596"
      ROBOSATS_COORDINATORS: "temple,moon,lake"
      ROBOSATS_ONION_URL: ""
      CONFIG_FILE: "/data/config.json"
      WEB_PORT: "3000"
      LOG_LEVEL: "info"
